<div class="row">
	<div class="col-md-6">fhgfhg</div>
	<div class="col-md-6">fhgfhg</div>
	<div class="col-md-6">fhgfhg</div>
	<div class="col-md-6">fhgfhg</div>
</div>
<% @clubs.each_slice(2) do |four| %>
          <div class="row">
             <% @clubs do |club| %>
             	<div class="col-md-6">
					Name : <%=club.display_name%><br>
					Address: <%=club.address%><br>
					City : <%=club.city%><br>
					Phone Number:<%=club.phone_number%><br>
					<img src=<%=club.display_pic%> width="100px" height="100px">
             	</div>
             <% end %>
          </div>
 <% end %>
<%= link_to "Add Clubs", new_club_path %>
