<style>
.login-btn{
  margin-top: 20px;
}
form label{

}
</style>
<%= form_for @user, :html => {:role => "form",:class => "my_form"} do |form| %>  
  <div class="control-group">
    <%= form.label :username, "username" %>  
    <div class="controls">
     <%= form.text_field :username %>  
    </div>
  </div>

   <div class="control-group">
    <%= form.label :email, "email" %>  
    <div class="controls">
     <%= form.text_field :email %>  
    </div>
  </div>

  <div class="control-group">
    <%= form.label :password, "password" %>  
    <div class="controls">
     <%= form.password_field :password %> 
    </div>
  </div>

  <div class="control-group">
    <%= form.label :password_confirmation, "password_confirmation" %>  
    <div class="controls">
    <%= form.password_field :password_confirmation %>  
    </div>
  </div>

  <%= form.submit "Submit", class: "btn btn-primary login-btn" %> 
<% end %>