<div>
	Name : <%=club.display_name%><br>
	Address: <%=club.address%><br>
	City : <%=club.city%><br>
	Phone Number:<%=club.phone_number%><br>
	<img src=<%=club.display_pic%> width="100px" height="100px">
</div>
<br><br>

