<%= form_tag home_search_path,:html => {:class => "court_search_form"} do %>
    <div class="control-group">
        <label>City</label>
        <div class="controls">
        	<%= select_tag(:city_id, options_from_collection_for_select(City.all, :id, :name)) %>
        </div>
    </div>

    <div class="control-group">
        <label>Sports</label>
        <div class="controls">
        	<%= select_tag(:sport_id, options_from_collection_for_select(Sport.all, :id, :name)) %>
        </div>
    </div>

    <div class="control-group">
        <label>Date</label>
        <div class="controls">
        	<% date_array = (Date.today..Date.today.advance(:days => 13)).map.with_index{ |date,i| [date.strftime("%a, %b %d"),i] }%>
        	<%= select_tag(:date, options_for_select(date_array)) %>
        </div>
    </div>
    <div class="button-container">
        <%= submit_tag  "Search" , :class => "hs_btnCtaSml hs_btnTypeSubmit" %>
    </div>
<% end %>